# ----- BUILD DIRECTORIES -----
/build/
/build_linux/
/build_windows/
/dist/
/deps_windows/

# ----- EXECUTABLES -----
/TheConjuringTrap
/TheConjuringTrap.exe
/UnitTests

# ----- BINARIES -----
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# ----- LOGS & MISC -----
*.log
.DS_Store
Thumbs.db

# ----- IDE -----
.vscode/
.idea/
*.swp
